FastAPI
uvicorn
transformers
torch
langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface
sentence-transformers
huggingface-hub
pydantic
numpy
scikit-learn
wikipedia
bitsandbytes
accelerate
datasets
psutil
gradio
pydantic-settings
duckduckgo-search
